*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
  width:100% ;
}
main{
    width: 100%;
    height: 100%;
    background-color: #f1f3f4;
      display: flex;
      align-items: center;
      justify-content: center;
}
#otp-box{
    width: 480px;
    height: 370px;
    background-color: white;
    border-radius: 20px;
    padding: 3%;
    border: 1px solid rgb(67, 188, 67);
}
button#gernarate-otp{
    padding: 10px 20px;
    background-color: #3b82f6;
    border-radius: 10px;
    /* padding-top: ; */
    border: none;
    color: white;
    margin-top: 30px;
    font-weight: 500;
    font-size: 20px;
}
input{
    width: 95%;
    height: 50px;
    font-size: 20px;
    border: 1px solid rgb(67, 188, 67);
    border-radius: 10px;
padding-left: 10px;
}
button#validate-otp{
    padding: 10px 20px;
    background-color: #3b82f6;
    border-radius: 10px;
    /* padding-top: ; */
    border: none;
    color: white;
    margin-top: 30px;
    font-weight: 500;
    font-size: 20px;
}
 #msg{
        margin-top:15px;
        font-size:18px;
        font-weight:bold;
    }